body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text],input[type=email],input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: #045890;
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  pad

}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #d1e1e6;
  padding: 20px;
}

.MainDiv{
    margin: auto;
    width: 35%;
}


.header{
    padding: 1%;
   /*  background-color: #05578e; */
    border-radius: 5px;
    margin-bottom: 5px;
}
.header h2, p{
    text-align: center;
    /* color: white; */
}




@media only screen and (max-width: 768px) {
    .MainDiv {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .MainDiv {
        width: 100%;
    }
}
